<script type="text/javascript">
var anchorTags = document.querySelectorAll('.u-email');
for (var i = 0; i < anchorTags.length; i++) {
    anchorTags[i].onclick = function() {
        try {
            navigator.clipboard.writeText(String(event.currentTarget).replace('mailto:',''));
            this.getElementsByTagName( 'span' )[0].innerHTML = "Copied!"
        }
        finally {
            event.preventDefault();
        }
    }
    anchorTags[i].onmouseover = function() {
        try {
            this.getElementsByTagName( 'span' )[0].innerHTML = "Click to copy"
        }
        finally {
            event.preventDefault();
        }
    }
    anchorTags[i].onmouseout = function() {
        try {
            this.getElementsByTagName( 'span' )[0].innerHTML = "Email"
        }
        finally {
            event.preventDefault();
        }
    }
}
</script>


<script>
let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active__dot", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active__dot";
  dots[slideIndex + slides.length - 1].className += " active__dot";
}
</script>


<script>
function readmore() {
    var buttonid = event.target.parentElement.getAttribute('id');
    var hiddenelement = document.getElementById(buttonid + "__hidden");
    var readlesselement = document.getElementById(buttonid + "__less");
    hiddenelement.style.display = "block";
    hiddenelement.style.animation="opac 0.5s linear";
    readlesselement.style.display = "block";
    event.target.parentElement.style.display = "none";
}

function readless() {
    var buttonid = event.target.getAttribute('id');
    var hiddenelement = document.getElementById(buttonid.replace("__less","") + "__hidden");
    var readmoreelement = document.getElementById(buttonid.replace("__less",""));
    readmoreelement.style.display = "block";
    readmoreelement.scrollIntoView({block: "center"});
    hiddenelement.style.display = "none";
    event.target.style.display = "none";
}
</script>


