<script type="text/javascript">
var anchorTags = document.querySelectorAll('.u-email');
for (var i = 0; i < anchorTags.length; i++) {
    anchorTags[i].onclick = function() {
        try {
            navigator.clipboard.writeText(String(event.currentTarget).replace('mailto:',''));
            this.getElementsByTagName( 'span' )[0].innerHTML = "Copied!"
        }
        finally {
            event.preventDefault();
        }
    }
    anchorTags[i].onmouseover = function() {
        try {
            this.getElementsByTagName( 'span' )[0].innerHTML = "Click to copy"
        }
        finally {
            event.preventDefault();
        }
    }
    anchorTags[i].onmouseout = function() {
        try {
            this.getElementsByTagName( 'span' )[0].innerHTML = "Email"
        }
        finally {
            event.preventDefault();
        }
    }
}
</script>


<script>
let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active__dot", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active__dot";
  dots[slideIndex + slides.length - 1].className += " active__dot";
}
</script>


<script>
function readmore() {
    var buttonid = event.target.getAttribute('id');
    var hiddenelement = document.getElementById(buttonid + "__hidden");
    if (event.target.innerText === "Read More") {
        event.target.textContent="Read Less";
	event.target.parentElement.style.backgroundImage = 'linear-gradient(to bottom, transparent, transparent)';
	event.target.style.bottom = "0";
        hiddenelement.style.display = "block";
        hiddenelement.style.top = "0";
    } else {
        event.target.textContent="Read More";
	var bgi = document.getElementsByClassName('dummy')[0].style.backgroundImage;
	event.target.parentElement.style.backgroundImage = bgi;
        hiddenelement.style.display = "none";
    }
}
</script>
