<script type="text/javascript">
var anchorTags = document.querySelectorAll('.u-email');
for (var i = 0; i < anchorTags.length; i++) {
    anchorTags[i].onclick = function() {
        try {
            navigator.clipboard.writeText(String(event.currentTarget).replace('mailto:',''));
            this.getElementsByTagName( 'span' )[0].innerHTML = "Copied!"
        }
        finally {
            event.preventDefault();
        }
    }
    anchorTags[i].onmouseover = function() {
        try {
            this.getElementsByTagName( 'span' )[0].innerHTML = "Click to copy"
        }
        finally {
            event.preventDefault();
        }
    }
    anchorTags[i].onmouseout = function() {
        try {
            this.getElementsByTagName( 'span' )[0].innerHTML = "Email"
        }
        finally {
            event.preventDefault();
        }
    }
}
</script>


<script>

function hide_all() {
	var dots = [].slice.call(document.querySelectorAll('[id^="slider__dot__"]'));
	for(i = 0; i < dots.length; i++) { 
		dots[i].style.opacity = 0.3;
	}
	var slides = [].slice.call(document.querySelectorAll('[id^="pub_slide_"]'));
	for(i = 0; i < slides.length; i++) { 
		slides[i].style.display = "none";
	}
}

function show_slide() {
	hide_all();
	event.target.style.opacity = 1;
	var new_slide_num = event.target.getAttribute('id').replace("slider__dot__", "");
	document.getElementById("pub_slide_" + new_slide_num).style.display = "block";
}

function switch_slide(sign) {
	hide_all();
	var new_slide_num = parseInt(event.target.parentNode.getAttribute('id').replace("slide__arrow__", "")) + parseInt(sign);
	if (new_slide_num < 1 && sign == -1) {
		new_slide_num = dots.length;
	}
	if (new_slide_num > 6 && sign == 1) {
		new_slide_num = 1;
	}
	event.target.parentNode.id = "slide__arrow__" + new_slide_num;
	document.getElementById("pub_slide_" + new_slide_num).style.display = "block";
	document.getElementById("slider__dot__" + new_slide_num).style.opacity = 1;

}
</script>


<script>
function readmore() {
    var buttonid = event.target.getAttribute('id');
    var hiddenelement = document.getElementById(buttonid + "__hidden");
    hiddenelement.style.display = "block";
    hiddenelement.style.animation="opac 0.5s linear";
    event.target.style.display = "none";
}

function readless() {
    var buttonid = event.target.getAttribute('id');
    var hiddenelement = document.getElementById(buttonid.replace("__less","") + "__hidden");
    var readmoreelement = document.getElementById(buttonid.replace("__less",""));
    readmoreelement.style.display = "inline-block";
    readmoreelement.scrollIntoView({block: "center"});
    hiddenelement.style.display = "none";
    event.target.style.display = "none";
}
</script>


<script>
var shortabstract = document.getElementById("short_abstract");
var fullabstract = document.getElementById("full_abstract");
function readmore_abstract() {
    shortabstract.style.display = "none";
    fullabstract.style.display = "inline-block";
    event.target.style.display = "none";
    var readlesselement = document.getElementById("readless_abstract");
    readlesselement.style.display = "inline-block";
}

function readless_abstract() {
    fullabstract.style.display = "none";
    event.target.style.display = "none";
    var readmoreelement = document.getElementById("readmore_abstract");
    readmoreelement.style.display = "inline-block";
}
</script>
