
<script>

function hide_all() {
	var dots = [].slice.call(document.querySelectorAll('[id^="slider__dot__"]'));
	for(i = 0; i < dots.length; i++) { 
		dots[i].style.opacity = 0.3;
	}
	var slides = [].slice.call(document.querySelectorAll('[id^="pub_slide_"]'));
	for(i = 0; i < slides.length; i++) { 
		slides[i].style.display = "none";
	}
}

function show_slide() {
	hide_all();
	event.target.style.opacity = 1;
	var new_slide_num = event.target.getAttribute('id').replace("slider__dot__", "");
	document.getElementById("pub_slide_" + new_slide_num).style.display = "block";
	document.querySelectorAll('[id^="slide__prev__"]')[0].id = "slide__prev__" + new_slide_num;
	document.querySelectorAll('[id^="slide__next__"]')[0].id = "slide__next__" + new_slide_num;
	document.getElementsByClassName("slider__dots")[0].scrollIntoView();
}

function switch_slide(sign) {
	hide_all();
	if (sign == -1) {
		var new_slide_num = parseInt(event.target.parentNode.getAttribute('id').replace("slide__prev__", "")) - 1;
		if (new_slide_num < 1) {
			new_slide_num = [].slice.call(document.querySelectorAll('[id^="slider__dot__"]')).length;
		}
	}
	else {
		var new_slide_num = parseInt(event.target.parentNode.getAttribute('id').replace("slide__next__", "")) + 1;
		if (new_slide_num > [].slice.call(document.querySelectorAll('[id^="slider__dot__"]')).length) {
			new_slide_num = 1;
		}
	}
	event.target.parentNode.id = event.target.parentNode.id.slice(0, 13) + new_slide_num;
	document.getElementById("pub_slide_" + new_slide_num).style.display = "block";
	document.getElementById("slider__dot__" + new_slide_num).style.opacity = 1;
	document.getElementsByClassName("slider__dots")[0].scrollIntoView();
}

function show_highlight(n) {
	hide_all();
	document.getElementById("pub_slide_" + n).style.display = "block";
}
</script>
