---
layout: splash
title: "<br>*E*mergent *P*henomena in *Q*uantum *M*atter"
excerpt: "<br>You have reached the **EPQM website**. \"We are interested in exploring the interplay of low-dimensionality, strong correlations and quantum fluctuations ...\""
header:
    overlay_image: /assets/images/home2.svg
    actions:
    - label: "Learn more about EPQM"
      url: /what-is/

author_profile: true
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
