---
layout: splash
title: Emergent Phenomena in Quantum Matter
excerpt: You have reached the website of EPQM, a theoretical research group in the Department of Physics at IISER Kolkata, lead by Siddhatha Lal. We focus on quantum condensed matter physics.
header:
    overlay_image: /assets/images/home2.svg
    actions:
    - label: "About"
      url: /about/
    - label: "Research"
      url: /research/
    - label: "Updates"
      url: /posts/
---

{% for post in site.posts %}
{% if post.pinned == true %}
<h2><i class="fas fa-thumbtack fontawesome__icon"></i> Pinned Post </h2>
<div class="feature__wrapper">
{% include feature_row_posts %}
</div>
{% break %}
{% endif %}
{% endfor %}

<h2><i class="fas fa-bell fontawesome__icon"></i><a href="/posts">Recent Posts</a></h2>
<div class="feature__wrapper" >
{% for post in site.posts limit:3 %}
{% include feature_row_posts %}
{% endfor %}
</div>

{% include selected_publications.html %}
