{% for f in class[1] %}

<div class="people_row" markdown=1>
<div class="people_img"><img src="{{ f.image_path }}"></div>
<div style="overflow:hidden;" markdown=1>
**{{ f.title | upcase }}**{% if f.time %}&nbsp;&nbsp;[{{ f.time }}]{% endif %}
<span>[[Email]](mailto:{{ f.email }}){: .btn .btn--large .u-email }</span>
<span>{%- if f.website -%}[[Web]]({{ f.website }}){: .btn .btn--large }{%- endif -%}</span>
<span>{%- if f.arxiv -%}[[Arxiv]]({{ f.arxiv }}){: .btn .btn--large }{%- endif -%}</span>
<span>{%- if f.CV_url -%}[[CV]]({{ f.CV_url }}){: .btn .btn--large }{%- endif -%}</span>

{% if f.thesis %}
**THESIS TITLE**: {{ f.thesis }}<br>
{% endif %}

{% if f.designation %}<i class="fas fa-user-tie"></i>&nbsp;&nbsp;{{ f.designation }}{% endif %}

<span class="archive__item-excerpt" markdown=1>{% if class[0] == "Principal Investigator" %}{{ f.excerpt | replace: "This is the Way","This <a href='/epqmlibrary/' class='lib_link'>is</a> the Way" }}{% else %}{{ f.excerpt }}{% endif %}</span>

</div>
</div>


<span class="people_divider"></span>

{% endfor %}
