{% for f in class[1] %}

<div style="width:100%; display: block; overflow:hidden; margin-bottom: 1em;" markdown=1>
<img style="width:200px; float:left; overflow:hidden; margin-right: 1em;" src="{{ f.image_path }}">
<b>{{ f.title }}</b><a href="mailto:{{ f.email }}" class="btn btn--success tag__highlight">Email Id</a>
{%- if f.website -%}
<a href="{{ f.website }}" class="btn btn--info tag__highlight">Website</a>
{% endif %}

{% if f.joined %}
Joined: {{ f.joined }}
{%- endif -%}
{%- if f.graduated -%}
Graduated: {{ f.graduated }}
{% endif %}

{% if f.designation %}
<i>{{ f.designation }}</i>
{% endif %}

{{ f.excerpt }}

</div>

{% endfor %}
