<header>
<nav class="navbar">
<a href="/" class="logo">
<img id="home" src="/assets/logos/epqm_logo_home.svg"/>
<img id="acronym" src="/assets/logos/acronymLight.svg"/>
</a>
{% for pair in site.navbar %}
<a class="full-nav" href={{ pair[1] | relative_url }}>{{ pair[0] }}</a>
{% endfor %}
{% for pair in site.navbarShort %}
<a class="short-nav" href={{ pair[1] | relative_url }}>{{ pair[0] }}</a>
{% endfor %}
<div>
  <input type="checkbox" id="menu-toggle">
  
  <div class="nav">
  	<label for="menu-toggle" class="hamburger">
	<div class="horizontal-line" id="hb1"></div>
	<div class="horizontal-line" id="hb2"></div>
	<div class="horizontal-line red" id="hb3"></div>
	<div class="horizontal-line red" id="hb4"></div>
	<div class="horizontal-line grey" id="hb5"></div>
	<div class="horizontal-line grey" id="hb6"></div>
	</label>
  
  	<nav class="menu">
	{% for pair in site.navbarLong %}
	<a href={{ pair[1] | relative_url }}>{{ pair[0] }}</a>
	{% endfor %}
  	</nav>
  </div>
</div>
</nav>
</header>
