<b>{{ work["title"] }}</b>
{%- for tag in work["tags"] -%}
<span class="btn btn--inverse tag__highlight">{{ tag }}</span>
{%- endfor -%}
<br>
<span class='authors__text'>{{ work["authors"] | join:", " | replace: "Siddhartha Lal", "<b>Siddhartha Lal</b>" }}</span>
<br>
{{ work["submit_date"] | strip | date: "%B %-d, %Y" }}
{%- if work["doi"] -%}
<a href="{{ work["doi"] }}" class="btn btn--danger tag__highlight">{{ work["journal_ref_short"] }}</a>
{%- endif -%}
<a href="{{ work["arxiv_doi"] }}" class="btn btn--primary tag__highlight">{{ work["arxiv_ref"] }}</a>
