<h2 id="selected-publications"> Selected Publications <a href="#selected-publications" class="btn" onClick="window.location.reload()">[Refresh]</a></h2>
<ul id="my-list" markdown=1>
{% for work in site.data.publications %}
<li>
	{% include publication_info.html %}
</li>
{% endfor %}
</ul>

<script>
var myList = document.querySelector('#my-list');
for (var i = myList.children.length; i >= 0; i--) {
    myList.appendChild(myList.children[Math.random() * i | 0]);
}
while (myList.children.length > 4) {
myList.removeChild(myList.children[0]);
}
</script>
