{% for work in site.data.publications %}
{% if work.last["permalink"] == page.permalink %}
{% include insert_publication_info.html %}
<div>
<div id="short_abstract" class="archive__item-excerpt">{{ work.last["abstract"] | split:". " | first | append:"..." }}</div>
<div id="full_abstract" class="archive__item-excerpt">{{ work.last["abstract"] }}</div>
<div id="readmore_abstract" class="btn btn--danger" onclick="readmore_abstract()">Show excerpt</div>
<div id="readless_abstract" class="btn btn--danger" onclick="readless_abstract()">Hide excerpt</div>
</div>
{% break %}
{% endif %}
{% endfor %}

---


<script>
var shortabstract = document.getElementById("short_abstract");
var fullabstract = document.getElementById("full_abstract");
function readmore_abstract() {
    shortabstract.style.display = "none";
    fullabstract.style.display = "inline-block";
    event.target.style.display = "none";
    var readlesselement = document.getElementById("readless_abstract");
    readlesselement.style.display = "inline-block";
}

function readless_abstract() {
    fullabstract.style.display = "none";
    event.target.style.display = "none";
    var readmoreelement = document.getElementById("readmore_abstract");
    readmoreelement.style.display = "inline-block";
}
</script>
