$bg-color: #eff1f5;
$fg-color: #4c4f69;
$h1-color: #272343;
$h2-color: #be3144;
$hn-color: #22313f;
$accent-color: #424874;
$button-color: $accent-color;

$bold-color: $fg-color;
$link-color: $accent-color;
$code-color: $fg-color;
$bar-color: $hn-color;
$google: #1976D2;
$github: white;
$email: #F44F5A;

$margin: 1rem;
$width: 900px;
$bar-height: 60px;
$bar-ele-gap: 2rem;
$fig-pad: 1rem;

$font: "Rubik";
$hn-font: "Go";
$math-font: "Fira Math";
$emoji-font: "Noto Color Emoji";
$nerd-font: "FiraCode Nerd Font Propo";
$weight: 400;
$size: 15pt;

$breakpoint1: $width;
$breakpoint2: 500px;
