---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// remove the footer
.page__footer {
	display: none;
}


// remove permanent underline on links, 
// now underline only shows on hover
a {
	font-weight: bold;
	text-decoration: none;
}


// center align all images
p.body__img {
	display: block;
	margin: auto;
	max-width: 700px;
	text-align: left;
	color: #1A526D;
	font-weight: bold;
	font-size: smaller;
	> img {
	width: 100%;
	display: block;
	margin: auto;
	}
}


// add class for tag alert boxes
// and add space between the boxes
.tag__highlight {
	margin-left: 3%;

}


// reduce padding inside the tag
// alert boxes
.btn {
	padding: 0.3em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}


// remove the translucent feature
// of the author profile
.sidebar {
	opacity: 1;
}

.authors__text {
	opacity: 0.8;
}

.publications {
	width: 100%;
	@include breakpoint($large) {
		width: 120%;
	}
	@include breakpoint($x-large) {
		width: 160%;
	}
}

.people_entry {

	width: 100%;
	max-width: 400px;
	overflow: hidden;
	text-align: justify;
	margin: auto;
	@include breakpoint($small) {
		float: left;
		width: 40%;
		margin-right: 10%;
	}
	@include breakpoint($large) {
		width: 30%;
		float: left;
		margin-right: 3%;
	}
	> .people_entry_name {
		font-weight: bold;
		font-size: 110%;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	> img {
		height: 250px;
		display: block;
	}
}

.people_class {
	width: 100%;
	overflow: hidden;
}
