---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// remove the footer
.page__footer {
	display: none;
}


// remove permanent underline on links, 
// now underline only shows on hover
a {
	font-weight: bold;
	text-decoration: none;
}


// center align all images
p.body__img {
	display: block;
	margin: auto;
	max-width: 700px;
	text-align: left;
	color: #1A526D;
	font-weight: bold;
	font-size: smaller;
	> img {
	width: 100%;
	display: block;
	margin: auto;
	}
}


// add class for tag alert boxes
// and add space between the boxes
.tag__highlight {
	margin-left: 3%;

}


// reduce padding inside the tag
// alert boxes
.btn {
	padding: 0.3em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}


// remove the translucent feature
// of the author profile
.sidebar {
	opacity: 1;
}

.pub__global {
	font-size: smaller;
}

.pub__authors {
	display: none;
	color: gray;
	@include breakpoint($small) {
		display: inline-block;
	}
}

.people_row {
	width:100%;
	display: block; 
	overflow:hidden; 
	margin-bottom: 1em;
}

.people_img {
	width:200px;
	display: block;
	margin: auto;
	margin-bottom: 1em;
	@include breakpoint($small) {
		float:left; 
		overflow: hidden; 
		margin-right: 1em;
	}
}


.people_links {
	display: none;
	@include breakpoint($small) {
		display: inline;
	}
}

.people_divider {
	width: 100%;
	border-top: 0.2em solid #999;
	padding-bottom: 1.5em;
	display: block;
	@include breakpoint($small) {
		display: none;
	}
}

.page__content {
  text-align: justify;
}

.archive__item {
	margin-bottom: 2em;
	@include breakpoint($small) {
		margin-bottom: 0.5em;
	}
}

.feature__item--left .archive__item-teaser {
	margin-bottom: 0.5em;
	@include breakpoint($small) {
		margin-bottom: 2em;
	}
}
