---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// remove the footer
.page__footer-follow {
	display: none;
}


// remove permanent underline on links, 
// now underline only shows on hover
a {
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

// center align all images
.page img {
	width: 100%;
	display: block;
	margin: auto;
}

.body__img {
	text-align: center;
	padding: 1em;
	background-color: white;
	> img {
		margin-bottom: 1em;
	}
	border: 2px solid gray;
}


// remove the translucent feature
// of the author profile
.sidebar {
	opacity: 1;
}

// makes the author list font colour slightly gray in the
// publication entries (to distinguish it from the rest).
// also makes the author list disappear on small screens
.pub__authors {
	display: none;
	color: gray;
	@include breakpoint($small) {
		display: block;
	}
}

// makes each entry on the people page occupy
// the whole line. Also sets the gap from the next.
.people_row {
	width:100%;
	display: block; 
	overflow:hidden; 
	margin-bottom: 1em;
}

// sets width, margin and left float for people images,
// and makes it center float and block for small screens.
.people_row .people_img {
	position: relative;
	width:200px;
	display: block;
	margin: auto;
	margin-bottom: 1em;
	@include breakpoint($small) {
		float:left; 
		overflow: hidden; 
		margin-right: 1em;
	}
}


// styles the horizontal line that 
// separates a people entry from the next entry
.people_divider {
	width: 100%;
	border-top: 0.2em solid #999;
	padding-bottom: 1.5em;
	display: block;
	@include breakpoint($small) {
		display: none;
	}
}


// justifies all the text in the page body, 
// except lists
.page__content {
	text-align: justify;
	@include breakpoint($small) {
		font-size: 17px;
	}
	font-size: 13px;
}

// sets margin to set spacing between
// the recent posts on the home page 
.archive__item {
	margin-bottom: 2em;
	@include breakpoint($small) {
		margin-bottom: 0.5em;
	}
}


// reduces the whitespace between the text on the 
// topmost panel and the boundaries of the panel
.masthead__inner-wrap {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}


// makes the font of the top panel 
// navigation links slightly smaller
.greedy-nav .visible-links a {
	font-size: normal;
	@include breakpoint($small) {
		font-size: smaller;
	}
}


// styles each column of the two-column layout on the home page.
// makes the width of each column ~50% on large screens and 
// 100% on small screens. sets the float accordingly.
.home__column {
	margin: auto;
	@include breakpoint($medium) {
		width:47%;
		float:left;
	}
}

// sets the spacing between the two columns on the home page.
.home__column + .home__column {
	@include breakpoint($medium) {
		margin-left: 6%;
	}
}


.home__column_skewed {
	text-align: left;
	margin: auto;
	@include breakpoint($medium) {
		width:60%;
		float:left;
	}
}

.home__column_skewed + .home__column_skewed {
	@include breakpoint($medium) {
		width:35%;
		margin-left: 5%;
	}
}

.home__column__main {
	width: 100%;
	overflow: hidden;
	display: block;
}

// styles the "Full image" indicator 
// on overlay_images
.page__hero-caption2 {
	top: 0;
	width: fit-content; 
	height: fit-content;
}


.page__hero-caption {
	opacity: 0.7;
}


.feature__item--center .archive__item-teaser, .feature__item--center .archive__item-body {
	width: 100%;
}

.feature__wrapper .archive__item-teaser, .feature__wrapper .archive__item-body, .pub__global, li {
	text-align: left;
}

.feature__wrapper .archive__item-teaser {
	:hover {
		transform: scale(1.4);
		transition: transform 1s
	}
}

.feature__item--left .feature__wrapper .archive__item-body {
	margin-top: -2em;
	@include breakpoint($small) {
		margin-top: -0.2em;
	}
	> .archive__item-title {
		font-size: 120%;
	}
}


.yt__embed {
	max-width: 700px;
	margin: auto;
	display: block;
}

.archive__item-excerpt {
	font-size: 100%;
	color: #666;
}


.seminar__comments {
	display: none;
	@include breakpoint($small) {
		display: block;
	}
}

.pdf__preload {
	display: none;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	width: 100%;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active__dot, .dot:hover {
	background-color: #444;
}

.dot__sliding {
	text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.page__hero--overlay {
	@include breakpoint($small) {
		height: 25em;
	}
}

.page__title, body {
	line-height: 1.4;
}

.page__hero--overlay .wrapper .page__lead {
	font-style: italic;
}

.page__hero--overlay .wrapper a {
	@include breakpoint($small) {
		margin-top: 1em;
	}
}

.sidebar .nav__title {
	font-weight: bold;
	font-size: larger;
}

.nav__sub-title .sidebar li {
	font-size: 50%;
}

.pub__external__links {
	display: block;
	text-align: center;
}

.hidden_details {
	display: none;
	overflow: hidden;
	margin-top: -1em;
}

.readmore, .readless {
	position: relative;
	left: 0;
	top: -1.5em;
}

.readless {
	top: 0;
}

.secondary__part {
	position: relative;
}

@keyframes opac { 0% { opacity: 0; }
		100% { opacity: 1; }
}
@keyframes opac_rev { 0% { opacity: 1; }
		100% { opacity: 0; }
}


.feature__wrapper {
	border-bottom: 0;
	margin-bottom: 0;
}


.page__content .home__banner__title {
	text-align: left;
	margin-top: -0.5em;
	// margin-bottom: -1em;
	font-weight: bold;
	font-size: x-large;
	@include breakpoint($medium) {
		font-size: xx-large;
	}
}

.home__banner__title::first-letter, .page__title::first-letter {
	font-size: 150%;
	font-style: italic;
}

body .home__banner__abstract {
	margin-top: 2em;
	color: #777;
}

.home_banner_image {
	@include breakpoint($x-large) {
		margin-left: calc(-0.5*(100vw - #{$max-width}));
		width: 98vw;
	}
	margin-bottom: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}


#readless_abstract,#full_abstract {
	display: none;
}


#readless_abstract,#readmore_abstract {
	margin-left: 0;
	margin-top: 1em;
}

.btn--info {
	background-color: $link-color;
}
.btn--info:visited {
	background-color: $link-color;
}

.page__content h2 {
	padding-bottom: 0.3em;
	// margin-bottom: 0.5em;
	font-size: 150%;
	// margin: 0 0 0;
	border-bottom: 0.15em solid $text-color;
}

.slider__dots {
	text-align: center;
}

.slider__dot {
	height: 20px;
	aspect-ratio: 1 / 1;
	background-color: #555;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.3;
}

#slider__dot__1 {
	opacity: 1;
}

.slider__dot + .slider__dot {
	margin-left: 0.6em;
}

.slide__arrow {
	position: relative;
	top: 0.08em;
	font-size: xx-large;
	color: gray;
}

a {
}

.pub_slide {
	margin-top: 1em;
	display: none;
}

#pub_slide_1 {
	display: block;
}

.epqm__summary {
	text-align: left;
	margin-top: 0.5em;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.1em;
	background-color: #dde;
	margin-bottom: 1em;
}

.people_row [class^="notice"] {
	font-size: 100% !important;
}

[class^="notice"] .btn {
	color: white;
}


[class^="notice"] h1 {
	font-size: x-large;
}
