.page__footer {
  display: none;
}

.page__content {
  text-align: justify;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.people-head {
    @include breakpoint($small) {
    display: inline-block;
    width: 100%;
    float: center;
    }
}

.people-head-img {
    margin: auto;
    width: 200px;
    @include breakpoint($small) {
	float: left;
	width: 200px;
    }
}

.people-img {
    margin: auto;
    width: 200px;
    @include breakpoint($small) {
	width: 200px;
    }
}

.people-head-name {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 0.5em;
}

.people-head-text {
    margin: auto;
    text-align: center;
    max-width: 500px;
    @include breakpoint($small) {
        text-align: left;
	float: left;
	margin-left: 2em;
	max-width: 420px;
  }
}

.people-text-left {
    text-align: justify;
    max-width: 500px;
    margin-bottom:2em;
    float: center;
    @include breakpoint($small) {
	max-width: 45%;
	float: left;
  }
}

.people-text-right {
    text-align: justify;
    max-width: 500px;
    margin-bottom:2em;
    float: center;
    @include breakpoint($small) {
	max-width: 45%;
	float: right;
  }
}

.research-image {
    @include breakpoint($small) {
	width: 400px;
	float: right;
	margin-left: 2em;
    }
    max-width: 400px;
    margin: auto;
    margin-bottom: 2em;
    display: block;
}
