.page__footer {
  display: none;
}

.page__content {
  text-align: justify;
}

.people__desc {
	display: block;
	overflow: hidden;
	margin-bottom: 1em;
}

.people__img {
    float: left;
    width: 200px;
    margin-right: 1em;
}

.research-image {
    max-width: 500px;
    width: 100%;
    margin: auto;
    display: block;
    overflow: hidden;
    text-align: center;
    @include breakpoint($medium) {
	width: 500px;
	float: right;
	margin-left: 2em;
  }

  a {
	color: black;
	font-weight: bold;
}

}


.research-image-caption {
	border: 2px solid black;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	top: -35px;
	background-color: #eeeeee;
	opacity: 0.8;
	display: block;
        overflow: hidden;
	float: right;
}
.about-image {
    width: 100%;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    @include breakpoint($medium) {
        float: right;
        width: 50%;
        margin-left: 2em;
        margin-bottom: -1em;
    }

.about-image-caption {
    text-align: center;
    font-weight:bold;
    font-style: italic;
}
}



.about-logos {
    display: block;
    width:100%;
    margin-bottom: 1em;

    img {
	    width: 32%;
    }
}

.bold-center-text {
	display: block;
	font-weight:bold;
	text-align:center;
}

.home-post-excerpt {
	font-size: large;
	font-weight: normal;
	font-colour: black;
}

.home__post__summary {
    position: relative;
    float: left;
    margin: auto;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    .archive__item {
      float: left;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
      max-width: 600px;
    }

    a.btn::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    @include breakpoint($medium) {
      width: 80%;
      max-width: 100%;
      margin-left: 0;
      margin-right: span(1 of 12);
      .archive__item-teaser {
        float: left;
        width: span(5 of 12);
        max-width: 100%;
      }

      .archive__item-body {
        float: right;
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
        width: span(7 of 12);
      }

    }
    .archive__item-title {
        margin-top: 0;
        margin-bottom: 1em;

	a {
	  display: inline-block;
	  position: relative;
	  color: #0087ca;
	  text-decoration: none;
	  font-weight: bold;
	  text-decoration: none!important;
	}

	a:after {
	  content: '';
	  position: absolute;
	  width: 100%;
	  transform: scaleX(0);
	  height: 4px;
	  bottom: 0;
	  left: 0;
	  background-color: #0087ca;
	  transform-origin: bottom middle;
	  transition: transform 0.2s ease-in-out;
	}

	a:hover:after {
	  transform: scaleX(1);
	  transform-origin: bottom middle;
	}

	}
	    .archive__item-excerpt {
		margin-top: 1em;
	    }
	}

.publications__item {
    overflow: hidden;
    margin-bottom: 1em;
    .publication__title {
	    font-style: italic;
	    margin-bottom: 0.5em;
	    display: block;
    }
    .publication__date {
	    float: right;
    }
    .publication__doi {
	    float: left;
    }
}

.research-all-image {
	width: 100%;
	margin: auto;
	display: block;
}

a{ 
	text-decoration: none;
	font-weight: bold;
}

.masthead__inner-wrap {
	padding: 0.5em;
}

.page__content {
	font-size: smaller;
}


.page__hero--overlay{
	text-shadow: 4px 4px 4px rgba(50,50,50,100%);
	.page__title, .page__lead {
	margin-top: 1em;
	margin-bottom: 1em;
}
	.page__lead {
	font-size: 130%;

}
}
